.head-container {
  position: relative;
  margin-bottom: 0.5rem;
}

.head-container .buttons div {
  padding: 0;
}

.search .export {
  margin-left: 1rem;
}

@media only screen and (min-width: 992px) {
  .head-container .buttons .add {
    position: absolute;
    right: 0;
  }

  .customers-page-actions {
    position: relative;
  }

  .customers-page-actions .loader {
    position: absolute;
    top: 0;
    left: 45%;
  }

  .customers-page-actions .actions-row {
    position: absolute;
    right: 0.75rem;
    width: 35%;
    padding: 0;
  }
}

@media only screen and (max-width: 992px) {
  .head-container .buttons {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    border-top: 1px solid lightgray;
    z-index: 99;
    vertical-align: middle;
    display: flex;
    justify-items: flex-end;
  }
  .head-container .buttons div {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .button-action {
    margin: 0.5rem !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .button-action-right {
    padding-right: 1rem !important;
  }
  .button-action-left {
    padding-left: 1rem !important;
  }

  .search .export {
    margin-left: 1rem;
  }
}
