.standby {
  background-color: lightyellow;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.edit-action {
  display: flex;
  justify-content: flex-end;
}

.customer-page h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer-page h2 .buttons {
  margin: 0;
}

.customer-page h2 .buttons button {
  margin-left: 0.5rem;
}

.customer-page .no-delivery {
  padding-top: 0.5rem;
}

.customer-page .no-delivery svg {
  width: 2rem;
  margin-right: 1rem;
}
