.deliveries-container .year-picker {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.year-picker button {
  margin-right: 1rem;
}

.deliveries-container .loader {
  position: absolute;
  left: 50%;
}

@media only screen and (max-width: 991px) {
  .deliveries-list {
    height: 60vh;
    overflow-y: scroll;
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 992px) {
  .deliveries-container {
    position: relative;
  }

  .deliveries-list {
    margin-bottom: 2rem;
  }

  .deliveries-container .actions-row {
    position: absolute;
    top: 0;
    padding-top: 0;
    width: 100%;
  }
  .deliveries-container .button-action-left {
    display: flex;
    justify-content: flex-start;
  }
  .deliveries-container .button-action-right {
    display: flex;
    justify-content: flex-end;
  }
}
