.form-switch {
    font-size: 1.5em;
}

@media only screen and (max-width: 992px) {

    .customer-form {
        margin-bottom: 2rem;
        overflow-y: scroll;

    }

    .customer-form fieldset {
        padding-bottom: 2rem;
    }

    .form-switch {
        text-align: center;

    }  
}
