.customers-deliveries-list .delivered {
  width: 1.5rem;
  color: green;
}

.customer-delivery-item {
  display: grid;
  width: 95%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.customers-deliveries-list .btn {
  width: 8rem;
}


  .customers-deliveries-list{
    height: 70vh;
    overflow-y: scroll;
  }

